<!DOCTYPE html>
{% extends "adminapp/create_edit_base.html" %}


{% block body_block %}

<div class="container">


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 style="color:#47748b">Create Category</h1>
            <form method="post">
                {%csrf_token%}

                {{form.as_p}}
                <input type="submit" class="btn btn-success" value="create">

            </form>

        </div>
        <div class="col-4"></div>


    </div>




</div>
<p></p>



<div class="contain">

            <table class="table table-striped">
                <tr>
                    <td ><strong>BrandName </strong> </td>
                    <td><strong>Action </strong>    </td>
                </tr>
                {% for ob in category %}
                <tr>
                    <td>
                        {{ob.category_name}}
                    </td>

                    <td><a href="{%url 'editcategory' ob.id %}" class="btn btn-primary">Edit</a>    </td>
                    <td><a href="{%url 'deletecategory' ob.id %}" class="btn btn-danger">Delete</a>  </td>


                </tr>
               {% endfor %}

            </table>

</div>


{% endblock %}