<!DOCTYPE html>
{% extends "customer/customerbase.html" %}


{% block body_block %}

<div class="container">



    <div class="row">

        <div class="col-3"></div>


            <div class="col-3" style="background-color:#FEFCFF">






            <img src="{{mobiles.images.url}}" class="card-img-top" alt="...">


            </div>
            <div class="col-3" style="background-color:#FEFCFF;">
                <h4 style="color:#2B547E">
                    <p>{{mobiles.mobile_name}}</p><br></h4>
                <h6 style="color:#2B547E">

                    <p>Brand : {{mobiles.brand}}</p>
                    <p>Ram : {{mobiles.ram}}</p>
                    <p>Camera : {{mobiles.camera}}</p>
                    <p>Os : {{mobiles.os}}</p>
                    <p>Price : {{mobiles.price}}</p>
                </h6>


            </div>
            <div class="col-3"></div>



            </div>
            <p></p>
            <div class="row">

                <div class="col-3"></div>

                <div class="col-3"style="background-color:#FEFCFF">
                    <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-outline-info" value="Add To Cart">
            </form>
</div>

                <div class="col-3"style="background-color:#FEFCFF"><a href="{% url 'order' mobiles.id %}" class="btn btn-outline-success">Order Now</a></div>

                <div class="col-3"></div>



            </div>


</div>
        {% endblock %}